**Sets are used to store multiple items in a single variable.**

*Set is one of 4 built-in data types in Python used to store collections of data*, 
**the other 3 are List, Tuple, and Dictionary, all with different qualities and usage**.

A set is a collection which is unordered, unchangeable*, and unindexed

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

Duplicates Not Allowed
Sets cannot have two items with the same value

In [2]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

Get the Length of a Set
To determine how many items a set has, use the len() function.

In [3]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

Set items can be of any data type:

In [4]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

A set can contain different data types:

In [6]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'male', 40, 'abc'}

type()
From Python's perspective, sets are defined as objects with the data type 'set':

<class 'set'>

In [7]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

The set() Constructor
It is also possible to use the set() constructor to make a set.

In [8]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [10]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

Once a set is created, you cannot change its items, but you can add new items.

In [11]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

To add one item to a set use the add() method.

Example
Add an item to a set, using the add() method:

In [12]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'cherry', 'apple'}

Add Sets
To add items from another set into the current set, use the update() method.

Example
Add elements from tropical into thisset:

In [13]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'cherry', 'apple', 'banana', 'mango', 'papaya'}

Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [14]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'orange', 'cherry', 'apple', 'banana'}

Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [15]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

Remove "banana" by using the discard() method:

In [16]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

Loop through the set, and print the values:

In [17]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [20]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

Example
The update() method inserts the items in set2 into set1:

In [21]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

Note: Both union() and update() will exclude any duplicate items.
The intersection_update() method will keep only the items that are present in both sets.

In [25]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [26]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

Keep All, But NOT the Duplicates
The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [27]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'microsoft', 'cherry', 'banana'}

Python Set add() Method

In [28]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'orange', 'banana', 'cherry', 'apple'}

The add() method adds an element to the set.

If the element already exists, the add() method does not add the element.

In [29]:
fruits = {"apple", "banana", "cherry"}

fruits.add("apple")

print(fruits)

{'banana', 'cherry', 'apple'}

pop() Remove a random item from the set:

In [30]:
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'cherry', 'apple'}

In [31]:
fruits = {"apple", "banana", "cherry"}

x = fruits.pop()

print(x)

banana

Python Set remove() Method

In [32]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple'}

The remove() method removes the specified element from the set.

This method is different from the discard() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.